/* Reset some default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
}

p {
    padding-bottom: 20px;
}

h1 {
    padding-bottom: 10px;
    padding-top: 5%;
}

h2 {
     padding-bottom: 10px;
}

.box_logo {
    height: 175px;
    float: left;
    padding-left: 25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-right: -30%;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #E00122;
}

.url-submission-box {
    border: 2px solid #555;
    width: 100%;
    height: 50px;
}

input[type="url"] {
    font-size:25px;
    text-align: center;
}

.sentence {
    border: 2px solid #E00122;
    width: 100%;
    height: 35px;
    font-size:16px;
    text-align: left;
}

/* Style the dropdown select box */
.select-style {
    font-family: Arial, sans-serif; /* Change as needed */
    font-size: 16px; /* Adjust size as needed */
    padding: 8px 12px; /* Padding inside the select box */
    background-color: #f8f8f8; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
    -webkit-appearance: none; /* Removes default chrome and safari style */
    -moz-appearance: none; /* Removes default style Firefox */
    appearance: none; /* Removes default style for IE */
    /* Custom arrow */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292.362 292.362"><path fill="%23676767" d="M286.935 197.286l-14.273-14.273-127.178 127.178-127.178-127.178-14.273 14.273 141.451 141.451z"/><path fill="%23676767" d="M141.451 0l-141.45 141.451 14.273 14.273 127.178-127.178 127.178 127.178 14.273-14.273z"/></svg>');
    background-position: right 10px top 50%; /* Position of the arrow */
    background-repeat: no-repeat;
    background-size: 12px; /* Size of the arrow */
    width: 100%; /* Full width */
    max-width: 300px; /* Maximum width, you can adjust */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: block; /* Display block to fill container */
}

/* Style focus state */
.select-style:focus {
    outline: none;
    border-color: #E00122; /* Light blue border for focus */
}

/* Optionally, style the options */
option {
    padding: 10px; /* Padding for options */
}

.secondary-button {
    background-color: #a9a9a9; /* Slightly lighter gray than the submit-button */
    color: white; /* Keep text color white for consistency */
    border: 2px solid white; /* Adding a border for distinction */
    padding: 10px 22px; /* Slightly smaller padding for a subtle difference */
    font-size: 16px; /* Keep text size consistent */
    cursor: pointer; /* Keep cursor pointer */
    border-radius: 5px; /* Keep rounded corners for consistency */
    transition: background-color 0.3s, transform 0.1s, border-color 0.3s; /* Add border-color to the transition */
}

.secondary-button:hover, .secondary-button:focus {
    background-color: #c0c0c0; /* Lighter gray on hover/focus for interactivity */
    border-color: #f8f8f8; /* Change border color on hover/focus for more distinction */
    transform: scale(1.05); /* Slightly larger scale on hover/focus */
}


.content-section {
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
}

footer {
    background-color: #222;
    color: #aaa;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    height: 50px;
}

.content {
    min-height: 100%;
    /* Equivalent to footer height */
    margin-bottom: -50px;
}

.content:after {
    content: "";
    display: block;
    height: 50px; /* Equivalent to footer height */
}

.button {
    display: inline-block;
    background-color: #E00122;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 22px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Set a font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 4px; /* Rounded corners */
    transition-duration: 0.4s; /* Add a transition effect (when hovering) */
}

.button:hover {
    background-color: #FF0000;
}

.button:active {
    transform: scale(0.98);
}

/* Submit Button Style */
.submit-button {
    background-color: #808080;
    color: white; /* White text */
    border: none; /* Remove borders */
    padding: 12px 24px; /* Top and Bottom Padding, Left and Right Padding */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Cursor to pointer to indicate clickable item */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: background-color 0.3s, transform 0.1s; /* Smooth transition for background color and transform */
}

.submit-button:hover {
    background-color: #555555;
}

.Positive {
    background-color: lightgreen;
    padding: 0 0 0 0;
}

.Negative {
    background-color: lightcoral;
    padding: 0 0 0 0;
}

.Neutral {
    padding: 0 0 0 0;
}

.profile-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.row {
    display: flex;
    border-bottom: 1px solid #ccc; /* Added border-bottom for visual separation */
}

.profile {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.info {
    flex: 2;
    padding: 20px;
}

.solid-line {
    border-top: 5px solid #aaa; /* Solid gray line */
    margin: 20px 0; /* Adds some space above and below the line */
}
