{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BND{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'BiasNewsDetector/style.css' %}">
</head>
<body>
    <header>
        <h1>BIAS NEW DETECTOR</h1>
    </header>

    <main>
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
    </main>

    <!--<footer>
        <h1>CREATED BY JTCX</h1>
    </footer> -->
</body>
</html>
