{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bias News Detector{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'BiasNewsDetector/style.css' %}">
</head>
<body>
    <div class="content">
    <header class="header">
        <div class="container">
            <img src="{% static 'images/JTCX_BOXLOGO.png' %}" alt="..." class="box_logo">
            <h1 style="padding-top: 2%; padding-bottom: 2%;">BIAS NEWS DETECTOR</h1>
            <div class="navbar" style="margin: -10px; padding-left: 25.3%;">
              <a class="active" href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
              <a href="{% url 'about' %}"><i class="fa fa-fw fa-globe"></i>About JTCX</a>
              <a href="{% url 'team' %}"><i class="fa fa-fw fa-user"></i>Meet the Developers</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        <!-- Content overridden by child templates will go here -->
        {% endblock %}
    </main>
    </div>
    <!--<footer>
        <h2>CREATED BY JTCX</h2>
    </footer> -->
</body>
</html>

