{% extends "BiasNewsDetector/base.html" %}
{% load static %}

{% block content %}
<body>
<div class="content-section">
    {% if feedback_entries %}
        <h1 style="text-align: center">THANK YOU FOR YOUR FEEDBACK</h1>
        {% for entry in feedback_entries %}
            {% if entry.feedback_sentence != "" %}
            <div class="feedback-entry">
                <h2>Feedback Entry</h2>
                <p><strong>Sentence:</strong> {{ entry.feedback_sentence }}</p>
                <p><strong>Outputted Analysis:</strong> {{ entry.output_analysis }}</p>
                <p><strong>Correct Analysis:</strong> {{ entry.correct_analysis }}</p>
                {% if entry.feedback_analysis %}
                    <p><strong>Feedback Analysis:</strong> {{ entry.feedback_analysis }}</p>
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <h1 style="text-align: center">SORRY, FEEDBACK WAS DEEMED INVALID</h1>
        <div style="text-align: center">
            <p><strong>
                Please make sure to submit a full sentence from the article output.
                Also ensure that the Correct Bias Analysis that is not the same as the Bias Analysis Output,
                as well as initially labeling the Bias Analysis Output correctly.
            </strong></p>
            <a href="{% url 'article' %}" class="button">Upload Another Article</a>
        </div>
    {% endif %}
</div>
</body>
{% endblock %}
