{% extends "BiasNewsDetector/base.html" %}
{% load static %}


{% block content %}
<body>

<a href="{% url 'article' %}" class="button">Upload Another Article</a>
<br>

<h2>Received URL</h2>
<p>The submitted URL is: {{ website_url }}</p>
<p>BS4 wordcount: {{ bs4_words }}</p>
<br>
<p>Spacy Bias Sentences: {{ bias_sentence }}</p>
<br>
<p>Newspaper3k wordcount: {{ news_words }}</p>
<br>
<!--<p>Here is the Bias Probabilities (negative class first number, positive class second number): {{ bias_probabilities }}</p> -->
<br>
<p>BS4 text: {{ bs4_text }}</p>
<br>
<p>newspaper3k text: {{ news_text }}</p>
</body>
{% endblock %}