{% extends "BiasNewsDetector/base.html" %}
{% load static %}


{% block content %}
<body>
<div class="content-section">
    <h1 style="text-align: center">FINISHED PROCESSING</h1>
    <h2 style="text-align: center">{{ news_title }}</h2>
    <br>
    <p>Newspaper3k wordcount: {{ news_words }}</p>
    <br>
    {% for result in analysis_results %}
        <span class="{{ result.sentiment }}">{{ result.sentence }}&nbsp;</span>
    {% endfor %}
    <br>

    <p>newspaper3k text: {{ news_text }}</p>
    <a href="{% url 'article' %}" class="button">Upload Another Article</a>
</div>
</body>
{% endblock %}