{% extends "BiasNewsDetector/base.html" %}
{% load static %}

{% block content %}
<body>
<div class="content">
    <div class="profile-container">
        <div class="row">
            <div class="profile">
                <img src="{% static 'images/Xander_Hatton.jpg' %}" alt="...">
            </div>
            <div class="info">
                <h2>Xander Hatton</h2>
                <p>
                    I was born and raised in Cincinnati. With a background in QA analysis, software development, and research, I have a passion for innovation. 
                    This project seemed a great chance to learn more about AI, as my interests span Artificial Intelligence, AI safety, and Data Science.
                    Outside of work I'm a big reader and board gamer!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="profile">
                <img src="{% static 'images/Cole_Hutchins.png' %}" alt="...">
            </div>
            <div class="info">
                <h2>Cole Hutchins</h2>
                <p>
                    I am a Cincinnatian since birth.
                    I have always enjoyed problem-solving and working on innovative projects.
                    This project gave me the chance to do that and more.
                    From looking at the big picture of the project, to designing solutions, and learning many new skills and tools,
                    I was constantly solving problems and adapting to new scenarios that arose.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="profile">
                <img src="{% static 'images/Tobias_Knueven.jpg' %}" alt="...">
            </div>
            <div class="info">
                <h2>Tobias Knueven</h2>
                <p>
                    I'm a native Cincinnatian who is passionate about problem solving.
                    I was excited to work on this project because it offered me an opportunity to tackle the difficult and unfamiliar territory of Natural Language Processing.
                    Besides this project, I also have work experience in embedded and web development as well as machine learning research.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="profile">
                <img src="{% static 'images/IMG_3351.png' %}" alt="...">
            </div>
            <div class="info">
                <h2>Jordan Shaheen</h2>
                <p>
                    A Cleveland native, who found a passion with technology at a young age.
                    As the person who thought of this project idea, I was looking for a challenging project that
                    could be resolved with cutting edge technology that no one on our team was comfortable with, but interested in using.
                    I am active web developer that oversees Southwire's Cabletech Support Website with no knowledge of
                    Natural Language Processing or Machine Learning prior to this project.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}