{% extends "BiasNewsDetector/base.html" %}
{% load static %}

{% block content %}
<body>
<div class="content">
    <div class="profile-container">
        <div class="row">
            <div class="profile">
                <img src="{% static 'images/Xander_Hatton.jpg' %}" alt="...">
            </div>
            <div class="info">
                <h2>Xander Hatton</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="row">
            <div class="profile">
                <img src="{% static 'images/Cole_Hutchins.png' %}" alt="...">
            </div>
            <div class="info">
                <h2>Cole Hutchins</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="row">
            <div class="profile">
                <img src="{% static 'images/Tobias_Knueven.jpg' %}" alt="...">
            </div>
            <div class="info">
                <h2>Tobias Knueven</h2>
                <p>I'm a native Cincinnatian who is passionate about problem solving. I was excited to work on this project because it offered me an opportunity to tackle the difficult and unfamiliar territory of Natural Language Processing. Besides this project, I also have work experience in embedded and web development as well as machine learning research.</p>
            </div>
        </div>
        <div class="row">
            <div class="profile">
                <img alt="...">
            </div>
            <div class="info">
                <h2>Jordan Shaheen</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}